<mat-form-field [classList]="FormFieldClass" [style]="FormFieldStyle">
    <mat-label>{{label}}</mat-label>
    <input matInput [(ngModel)]="value" [id]="id" [name]="name"
        [classList]="InputClass" [style]="InputStyle" #input [required]="required()"
        [type]="visible ? 'text' : 'password'">

    <button mat-icon-button matSuffix type="button" (click)="visible = !visible;">
        <mat-icon>{{visible ? 'visibility-off' : 'visibility-on'}}</mat-icon>
    </button>
</mat-form-field>