<h1 class="mt-0">Sign Up</h1>

@if (page < 4) {
    <p>Page {{page+1}} of 4</p>
    <mat-progress-bar mode="determinate" [value]="(page+1)/5*100" />
}

@if (page === 0) {
    <h2>I am a...</h2>
    <button mat-raised-button color="primary" type="button" (click)="buttonPatient()">Patient</button>
    <br />
    <button mat-raised-button color="primary" type="button" style="margin-top: 16px;" (click)="buttonDoctor()">Doctor</button>
}
@else if (page === 1) {
    <h2>Personal Information</h2>
    
    <div class="flex-col gap-1 align-start mb-1">

    <div class="flex-row gap-h wrap align-center">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput required [(ngModel)]="mySignupInfo.first_name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput required [(ngModel)]="mySignupInfo.last_name">
        </mat-form-field>
    </div>

    <date-input [(ngModel)]="mySignupInfo.birth_date" label="Date of birth" />

    <div class="flex-row gap-h wrap align-center">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput required [(ngModel)]="mySignupInfo.email">
        </mat-form-field>

        <phone-input label="Phone" required [(ngModel)]="mySignupInfo.phone_number" />
    </div>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput required [(ngModel)]="mySignupInfo.username">
    </mat-form-field>

    <div class="flex-row gap-h wrap align-center">
        <password-input label="Password" [(ngModel)]="mySignupInfo.password" />
        <password-input label="Confirm Password" [(ngModel)]="confirmPassword" />
    </div>
    </div>

    <div class="flex-row gap-1 wrap align-center">
        <button mat-raised-button color="primary" type="button" (click)="personalInfo()">Continue</button>
        <button mat-raised-button color="primary" type="button" (click)="previousPage()">Previous Page</button>
    </div>
}
@else if (page === 2) {
    <h2>2 factor authentication (optional)</h2>
    <p>Insert 2FA components</p>
    
    <div class="flex-row gap-1 wrap align-center">
        <button mat-raised-button color="primary" type="button" (click)="skip2fa()">Skip</button>
        <button mat-raised-button color="primary" type="button" (click)="previousPage()">Previous Page</button>
    </div>
}
@else if (page === 3) {
    <h2>Connect to a Healthcare Provider (optional)</h2>
    <p>Insert healthcare provider components</p>

    <div class="flex-row gap-1 wrap align-center">
        <button mat-raised-button color="primary" type="button" (click)="skipProvider()">Skip</button>
        <button mat-raised-button color="primary" type="button" (click)="previousPage()">Previous Page</button>
    </div>
}
@else if (page === 4) {
    @if (createStatus == null) {
        <h2>Creating user</h2>
        <p>Please wait while we create your account</p>
    }
    @else if (createStatus.successStatus) {
        <h2>Account Created</h2>
        <p>Your account has been successfully created. Return to the login page to sign in to your account.</p>
        <button mat-raised-button color="primary" type="button" routerLink="/landing">Return</button>
    }
    @else {
        <h2>Account Creation Failed</h2>
        <p>A problem occurred while creating your account.</p>
        <button mat-raised-button color="primary" type="button" (click)="previousPage()">Previous Page</button>
    }
    
}