    <div class="card-watermark" [style]="'background-image: url('+allergy().categoryImage+')'"></div>
    <div [class]="'card-header bg-'+allergy().criticalityColor+'-40'">
        <h3 class="centered mt-h mb-h">{{allergy().allergenName}}</h3>
    </div>
    <div class="card-content pt-0">
        @if (allergy().status != 'Active') {
            <p>{{allergy().status}}</p>
        }
        @if (allergy().category.length && allergy().criticality?.length) {
            <p>{{allergy().category}}; {{allergy().criticality}} criticality</p>
        }
        @else if (allergy().category.length && !allergy().criticality?.length) {
            <p>{{allergy().category}}</p>
        }
        @else if (!allergy().category.length && allergy().criticality?.length) {
            <p>{{allergy().criticality}} criticality</p>
        }
        @for (note of allergy().notes; track i; let i = $index) {
            <p class="mt-q mb-q" style="font-size: 0.8rem;">Note: {{note}}</p>
        }
        <button mat-raised-button type="button" color="primary" class="mt-a" (click)="openDialog()">More Info</button>
    </div>