<h1>Welcome to HealthNow</h1>
<p>
  Welcome to HealthNow, the online platform to view and manage your medical
  records.
</p>
<p>Brief description, cool pictures, etc.</p>
<p>This should be a single page with the most important information</p>
<a routerLink="/about">Learn more</a>
<br /><br />

<button mat-raised-button color="primary" type="button" routerLink="/login">
  Log In
</button>
<button
  mat-raised-button
  color="primary"
  type="button"
  style="margin-left: 25px"
  routerLink="/signup"
>
  Sign Up
</button>

<!-- <button mat-raised-button color="primary" type="button" (click)="ServerButton()">Server Button</button> -->