<div class="section-container">
  <img src="/assets/home-page-bg/microscope.jpg" class="bg-pic">
  <div class="content surface-gradient" @fade @moveUp>
    <h1 class="mt-0 mb-0">Welcome to HealthNow</h1>
    <p>Reimagining medical records</p>
    <div class="flex-row gap-1 w-100 justify-even">
      <button mat-raised-button color="primary" type="button" routerLink="/home">Get Started</button>
      <button mat-raised-button color="primary" type="button"routerLink="/about">Learn More</button>
    </div>
  </div>
</div>

<div class="section-container">
  <img src="/assets/home-page-bg/stethoscope.jpg" class="bg-pic">
  <div class="content surface-gradient" @fade @moveUp>
    <h1 class="mt-0 mb-0">Thousands of healthcare centers</h1>
    <p>By utilizing the Fast Health Interoperability Standard (FHIR), we are able to retrieve medical records from most of the leading healthcare providers globally</p>
    <div class="flex-row gap-1 w-100 justify-even">
      <button mat-raised-button color="primary" type="button" routerLink="/home">Get Started</button>
      <button mat-raised-button color="primary" type="button"routerLink="/about">Learn More</button>
    </div>
  </div>
</div>

<div class="section-container">
  <img src="/assets/home-page-bg/microscope.jpg" class="bg-pic">
  <div class="content surface-gradient" @fade @moveUp>
    <h1 class="mt-0 mb-0">Maximum Security</h1>
    <p>Our servers are secured by Amazon bla bla bla security talk</p>
    <div class="flex-row gap-1 w-100 justify-even">
      <button mat-raised-button color="primary" type="button" routerLink="/home">Get Started</button>
      <button mat-raised-button color="primary" type="button"routerLink="/about">Learn More</button>
    </div>
  </div>
</div>