<table class="striped-hover-table w-100 pad-cells mt">
    <thead>
        <tr>
            <th>Allergen</th>
            <th>Category</th>
            <th>Criticality</th>
            <th>Status</th>
            <th>Last Occurrence</th>
            <th>Reactions</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    @for(allergy of loadedAllergyData; track allergy.id) {
        <tr>
            <th scope="row">{{allergy.allergenName| titlecase}}</th>
            <td>{{allergy.category | titlecase}}</td>
            <td>{{allergy.criticality | titlecase}}</td>
            <td>{{allergy.status | titlecase}}</td>
            <td>{{allergy.lastOccurrence}}</td>
            <td>
                @if (allergy.reactionCount > 0) {
                <button mat-raised-button type="button" color="primary">
                    See {{allergy.reactionCount}} Reaction{{allergy.reactionCount === 1 ? '' : 's'}}
                </button>
                }
            </td>
            <td>
                <span *ngFor="let note of allergy.notes; let i = index"
                    style="border: 1px solid black; border-radius: 4px; padding-left: 4px; padding-right: 4px;"
                    tabindex="0" [matTooltip]="note">
                    {{i+1}}
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>