th {
  text-align: left;
  // box-sizing: content-box; // Is this important?
}

.arrow {
  transition: opacity 0.3s, rotate 0.3s;
}
.arrow-hidden {
  opacity: 0;
}
th:hover .arrow-hidden {
  opacity: 0.3;
}
.arrow-desc {
  rotate: 180deg;
}
::ng-deep mat-paginator.hide-label .mat-mdc-paginator-range-label {
  display: none;
}

table.has-search {
  th.search-focus {
    border: 1px solid black !important;
  }
}

iframe {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
