@use '@angular/material' as mat;
@use 'sass:map';

$site-primary: mat.m2-define-palette(mat.$m2-light-blue-palette);
$site-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);
$dark-surface: rgb(66, 66, 66);

// #region Philip's table styles
//table.striped-hover-table highlights table rows on hover, and provides a zebra stripe pattern
//Use .override-odd or .override-even on <tr> to force the style
//Use <thead>, <tbody>, and <tfoot> and everything should format automatically
//Otherwise you can use .header-row, .body-row, and .footer-row on <tr>'s

.striped-hover-table {
  border-collapse: collapse;
  * {
    box-sizing: content-box;
    padding: 0;
  }
  .header-row,
  thead tr {
    > * {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  tr > :first-child {
    padding-left: 16px;
  }
  tr,
  caption {
    transition: background-color 0.25s;
  }
  caption {
    text-align: left;
    font-size: 1.25rem;
    padding: 8px 0 0 16px;
  }
}
@mixin generate-striped-hover-table($color-1, $color-2, $base, $odd-color, $shademap) {
  tbody tr:nth-child(even):not(.override-odd):not(.highlight-row):not(.red-row):not(.group-row),
  tr.body-row:nth-child(even):not(.override-odd):not(.highlight-row):not(.red-row):not(.group-row),
  tr.override-even {
    // Even (standard)
    background-color: mix($color-1, $base, map.get($shademap, 'even-s')) !important;
  }
  tbody tr:nth-child(even):not(.override-odd):not(.red-row):not(.highlight-row):not(.group-row):hover,
  tr.body-row:nth-child(even):not(.override-odd):not(.red-row):not(.highlight-row):not(.group-row):hover,
  tr.override-even:hover {
    // Even (hover)
    background-color: mix($color-1, $base, map.get($shademap, 'even-h')) !important;
  }
  tbody tr:nth-child(odd):not(.override-even):not(.red-row):not(.highlight-row):not(.group-row),
  tr.body-row:nth-child(odd):not(.override-even):not(.red-row):not(.highlight-row):not(.group-row),
  tr.override-odd {
    // Odd (standard)
    background-color: mix($odd-color, $base, map.get($shademap, 'odd-s')) !important;
  }
  tbody tr:nth-child(odd):not(.override-even):not(.red-row):not(.highlight-row):not(.group-row):hover,
  tr.body-row:nth-child(odd):not(.override-even):not(.red-row):not(.highlight-row):not(.group-row):hover,
  tr.override-odd:hover {
    // Odd (hover)
    background-color: mix($odd-color, $base, map.get($shademap, 'odd-h')) !important;
  }
  .highlight-row:nth-child(even) {
    background-color: mix($color-2, $base, map.get($shademap, 'highlight-es')) !important;
  }
  .highlight-row:nth-child(even):hover {
    background-color: mix($color-2, $base, map.get($shademap, 'highlight-eh')) !important;
  }
  .highlight-row:nth-child(odd) {
    background-color: mix($color-2, $base, map.get($shademap, 'highlight-os')) !important;
  }
  .highlight-row:nth-child(odd):hover {
    background-color: mix($color-2, $base, map.get($shademap, 'highlight-oh')) !important;
  }
  .footer-row,
  tfoot tr {
    background-color: mix($color-2, $base, map.get($shademap, 'footer-s')) !important;
  }
  .footer-row:hover,
  tfoot tr:hover {
    background-color: mix($color-2, $base, map.get($shademap, 'footer-h')) !important;
  }
  .group-row {
    background-color: mix($color-1, $base, map.get($shademap, 'group')) !important;
  }
  .header-row,
  thead tr,
  caption {
    // Header / Caption
    $col: mix($color-1, $base, map.get($shademap, 'header'));
    background-color: $col !important;

    th {
      border-top: 1px solid $col;
      border-bottom: 1px solid $col;
      border-left: 1px solid $col;
    }
    th:last-child {
      border-right: 1px solid $col;
    }
  }
}
$light-shademap: (
  'header': 100%,
  'group': 70%,
  'even-s': 20%,
  'even-h': 40%,
  'odd-s': 0%,
  'odd-h': 10%,
  'highlight-es': 45%,
  'highlight-eh': 60%,
  'highlight-os': 35%,
  'highlight-oh': 50%,
  'footer-s': 70%,
  'footer-h': 90%,
);
$dark-shademap: (
  'header': 70%,
  'group': 60%,
  'even-s': 20%,
  'even-h': 40%,
  'odd-s': 0%,
  'odd-h': 10%,
  'highlight-es': 45%,
  'highlight-eh': 60%,
  'highlight-os': 35%,
  'highlight-oh': 50%,
  'footer-s': 70%,
  'footer-h': 90%,
);
.striped-hover-table:not(.table-accent) {
  @include generate-striped-hover-table(
    // Main colors
    mat.m2-get-color-from-palette($site-primary, 300),
    mat.m2-get-color-from-palette($site-accent, 300),
    // Base colors
    white,
    black,
    $light-shademap
  );
}
.striped-hover-table.table-accent {
  @include generate-striped-hover-table(
    // Main colors
    mat.m2-get-color-from-palette($site-accent, 300),
    mat.m2-get-color-from-palette($site-primary, 300),
    // Base colors
    white,
    black,
    $light-shademap
  );
}
.my-dark-theme {
  .striped-hover-table:not(.table-accent) {
    @include generate-striped-hover-table(
      // Main colors
      mat.m2-get-color-from-palette($site-primary, 300),
      mat.m2-get-color-from-palette($site-accent, 300),
      // Base colors
      $dark-surface,
      white,
      $dark-shademap
    );
  }
  .striped-hover-table.table-accent {
    @include generate-striped-hover-table(
      // Main colors
      mat.m2-get-color-from-palette($site-accent, 300),
      mat.m2-get-color-from-palette($site-primary, 300),
      // Base colors
      $dark-surface,
      white,
      $dark-shademap
    );
  }
}

.red-row {
  background-color: rgb(255, 206, 206) !important;
}
.striped-hover-table .red-row:hover {
  background-color: rgb(255, 177, 177) !important;
}
.my-dark-theme {
  .red-row {
    background-color: rgb(109, 72, 72) !important;
  }
}
// #endregion
