<!-- <div class="hn-card"> -->
    <!-- <div class="card-watermark" [style]="'background-image: url('+allergy.categoryImage+')'"></div> -->
    <!-- <div [class]="'card-header bg-'+allergy.criticalityColor+'-40'">
        <h3 class="centered mt-h mb-h">{{allergy.allergenName}}</h3>
    </div> -->
    <div class="card-header">
        <h3 class="centered mt-h mb-h">{{med().medication}}</h3>
    </div>
    <div class="card-content pt-0">
        <div class="card-content pt-0">
            @if (med().category.length) {
                <span>Category: {{med().category}}</span>
            }
            @if (med().status.length) {
                <span>Status: {{med().status}}</span>
            }
            @if (med().type.length) {
                <span>Type: {{med().type}}</span>
            }
            @if (med().quantity.length) {
                <span>Quantity: {{med().quantity}}</span>
            }
            @if (med().daysSupply.length) {
                <span>Days Supply: {{med().daysSupply}}</span>
            }

            @if (med().notes.length) {
                @for (note of med().notes; track i; let i = $index) {
                    <p class="mt-q mb-q" style="font-size: 0.8rem;">Note: {{note}}</p>
                }
            }

        </div>
        <button mat-raised-button type="button" color="primary" class="mt-a" (click)="openDialog()">More Info</button>
    </div>
<!-- </div> -->