<div class="section-container">
    <img src="/assets/home-page-bg/microscope.jpg" class="bg-pic">
    <div class="content surface-gradient">
      <h1 class="mt-0 mb-0">What Is HealthNow 365?</h1>
      <h2 class="mb-0">Convenient, Transparent Medical Records</h2>
      <p class="mt-0">
        HealthNow 365 is your one-stop access point for all your medical records.
        We pull in records from thousands of healthcare providers and put them all in
        one convenient place. Whether you use one healthcare provider or one hundred,
        you can see all of your previous appointments, results, perscriptions, and more.
      </p>
      <h2 class="mb-0">Security</h2>
      <p class="mt-0">
        We use industry-standard encryption through Amazon to ensure the security of your medical information.
        Because we pull records directly from your healthcare providers, we do not store any of it ourselves,
        so even if there is a security breach, your records are safe.
      </p>
      <div class="flex-row gap-1 w-100 justify-even">
        <button mat-raised-button color="primary" type="button" routerLink="/home">Get Started</button>
      </div>
    </div>
  </div>