
    <div class="card-header">
        <h3 class="centered mt-h mb-h">{{hist() | fhirTitle}}</h3>
    </div>
    <div class="card-content pt-0">

        @if (contributed()) {
            <span><b>Contributed to death</b></span>
        }
        @if (status().length) {
            <span><b>Status:</b> {{status()}}</span>
        }
        @if (relationship().length) {
            <span><b>Relationship:</b> {{relationship()}}</span>
        }
        @if (date().length) {
            <span><b>Date:</b> {{date()}}</span>
        }
        @for (note of notes(); track i; let i = $index) {
            <span><b>Note: </b>{{note}}</span>
        }
       
        <button mat-raised-button type="button" color="primary" class="mt-a" (click)="openDialog()">More Info</button>
    </div>