<!-- <div class="hn-card"> -->
    <!-- <div class="card-watermark" [style]="'background-image: url('+allergy.categoryImage+')'"></div> -->
    <!-- <div [class]="'card-header bg-'+allergy.criticalityColor+'-40'">
        <h3 class="centered mt-h mb-h">{{allergy.allergenName}}</h3>
    </div> -->
    <div class="card-header">
        <h3 class="centered mt-h mb-h">{{hist().conditionText}}</h3>
    </div>
    <div class="card-content pt-0">
        @if (hist().relation.length) {
            <p>Relationship: {{hist().relation}}</p>
        }
        @if (hist().status.length) {
            <p>Status: {{hist().status}}</p>
        }
        @if (hist().date.length) {
            <p>Date: {{hist().date}}</p>
        }
        @if (hist().name.length) {
            <p>Name: {{hist().name}}</p>
        }
        @if (hist().sex.length) {
            <p>Sex: {{hist().sex}}</p>
        }
        @if (hist().age.length || hist().born.length || hist().deceased.length) {
            <p>TODO Make age text logic</p>
        }
        @for (reason of hist().reason; track i; let i = $index) {
            <p>Reason: {{reason}}</p>
        }
        @for (note of hist().notes; track i; let i = $index) {
            <p class="mt-q mb-q" style="font-size: 0.8rem;">Note: {{note}}</p>
        }
        <button mat-raised-button type="button" color="primary" class="mt-a" (click)="openDialog()">More Info</button>
    </div>
<!-- </div> -->
