<div class="pl-1 pr-1">
    <h1 style="text-align: center;">Login</h1>
    <div class="flex-row justify-center">
        <form>
            <div class="flex-row gap-h justify-center">
                <mat-form-field style="width: 200px; display: block;">
                    <mat-label>Username</mat-label>
                    <input name="username" matInput required [(ngModel)]="username">
                </mat-form-field>
                
                <password-input FormFieldStyle="width: 200px; display: block;" label="Password" [(ngModel)]="password" required name="password" />
            </div>

            <div class="flex-row gap-1 mt-1 justify-center">
                <button mat-raised-button color="primary" type="button" (click)="login()">
                    <span style="width: 3rem; display: block;">Login</span>
                </button>
                <button mat-raised-button color="primary" type="button" routerLink="/landing">
                    <span style="width: 3rem; display: block;">Return</span>
                </button>
            </div>
        </form>
    </div>
</div>