<h1>Login</h1>
<form>
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Username</mat-label>
        <input name="username" matInput required>
    </mat-form-field>
    <br /><br />
    
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Password</mat-label>
        <input name="password" matInput required>
    </mat-form-field>
    <br /><br />

    <button mat-raised-button color="primary" type="button" routerLink="/home">Login</button>
    <button mat-raised-button color="primary" type="button" routerLink="/landing" style="margin-left: 25px;">Return</button>
</form>