<div class="flex-col h-100">
  <mat-tab-group class="mt">
    <mat-tab label="My Information">

      <div class="pt">
        <mat-accordion class="mt">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Demographics
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-demographics/>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Allergies
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-allergies [allergies]="myAllergies"/>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Medications
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>ABC, 10mg, twice a day, since mm/dd/yyyy</li>
              <li>DEF, 20mg, once a week, since mm/dd/yyyy</li>
              <li>XYZ, 5mg, once a week, since mm/dd/yyyy</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Documents">
      <br />
      <div style="display: flex; justify-content: center">
        <button
          mat-raised-button
          style="font-size: 18px; padding: 24px 12px"
          type="button"
          color="primary"
        >
          Request Documents Now
        </button>
        <br />
      </div>
      <div style="display: flex; justify-content: center; margin-top: 8px">
        <span style="font-size: 14px"
          >Documents last retrieved Feb. 12, 2023 (7 months ago)</span
        >
      </div>
      <div style="padding: 25px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let entry">{{ entry.name }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let entry">
              {{ entry.date | date : "longDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let entry">{{ entry.type }}</td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef>Privacy Level</th>
            <td mat-cell *matCellDef="let entry">{{ entry.level }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Providers">
      <div class="centerFlex">
        <div class="provider">
          <h3>Provider 1</h3>
          <p>Information about provider 1</p>
        </div>
      </div>

      <div class="centerFlex">
        <div class="provider">
          <div style="display: flex; align-items: center">
            <span style="font-size: 72px; font-weight: 500; margin-left: 32px"
              >+</span
            >
            <span style="font-size: 42px; margin-left: 32px">Add Provider</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>