
<h3>Immunizations Taken</h3>
<!-- <magic-table [columns]="takenColumns" [data]="takenData()" [columnData]="takenColData" paginate footer="row-counts">
    <ng-template MagicTableBody="reactionCount" let-row>
        @if (row.reactionCount > 0) {
            <button mat-raised-button color="primary" type="button">
                See {{row.reactionCount}} Reactions
            </button>
        }
    </ng-template>
    <ng-template MagicTableBody="notes" let-row>
        @for(n of row.notes; track n; let i = $index) {
            <div [matTooltip]="n" style="border: 2px solid black; border-radius: 4px; padding: 4px; width: max-content;">{{i+1}}</div>
        }
    </ng-template>
</magic-table> -->
<div class="hn-card-strip">
@for (im of myImmunizations(); track i; let i = $index) {
    <app-immunization-card [immunizationResource]="im" />
}
</div>
<hr />

<h3>Immunizations Recommended</h3>
<!-- <magic-table [columns]="recommendedColumns" [data]="recommendedData()" [columnData]="recommendedColData" paginate footer="row-counts"></magic-table> -->

<div class="hn-card-strip">
    @for (im of myImmunizationRecs(); track i; let i = $index) {
        <app-immunization-rec-card [immunizationResource]="im" />
    }
</div>
<hr />