@if(person) {
    @if (person.active === false) {
        <p>This person's record is no longer in active use</p>
    }
    @if (person.resourceType === "Patient" && (person.deceasedBoolean || person.deceasedDateTime)) {
        <p>This person is deceased</p>
    }
    @if (person.name) {
        <p>Name: {{person.name | HumanNameText}}</p>
    }
    @if (person.gender) {
        <p>Gender: {{person.gender | titlecase}}</p>
    }
    @if (person.birthDate) {
        <p>Birthdate: {{person.birthDate}}</p>
        <p>Age: {{person.birthDate | DateToAgePipe}}</p>
    }
    @if (person.resourceType === "Patient" && person.maritalStatus) {
        <p>Marital status: {{person.maritalStatus}}</p>
    }
}