@if (router.url == "/landing" || router.url == "/about" || true) {
  <div class="flex-col h-100">
    <router-outlet></router-outlet>
  </div>
}
@else {
<!-- <div class="auth-bg" style="z-index: 0;"></div> -->

<div style="background-color: white;">
  <amplify-authenticator>
    <ng-template amplifySlot="header">
      <div class="flex-row align-center justify-even">
        <img src="../../assets/logo_256.png" style="height: 64px; border-radius: 50%;">
        <h1 style="width: max-content">Sign into HealthNow</h1>
      </div>
    </ng-template>

    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">

      <div class="flex-col" style="min-height: 100vh">
        <app-topnavmenu [user]="user" title="HealthNow365" [middleItems]="MenuItems" [accountItems]="UserMenuItems" [showAccount]="true"
                        titleImg="assets/logo_256.png" (titleClick)="titleClick()" [signOut]="signOut" />

        <div style="flex: 1 0 auto;" class="flex-row justify-center base-color">
          <div class="center-box surface-color surface-border">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </ng-template>
  </amplify-authenticator>
</div>

}
