<div class="flex-col bg-primary-50" style="min-height: 100%;">
  <mat-toolbar color="primary" style="flex: 0 0 64px;">
    <img src="../../assets/logo_256.png" alt="" width="48px" style="border-radius:50%" class="mr-h" />
    <span>HealthNow</span>
    <div
      style="
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-right: 24px;
      "
    >
      <mat-icon style="margin-right: 4px">account_circle</mat-icon>
      <span>Welcome, Philip</span>
    </div>
    <span>
      <mat-icon>settings</mat-icon>
    </span>
  </mat-toolbar>

  <div style="padding: 25px; flex: 1">
    <router-outlet></router-outlet>
  </div>
</div>
